doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="img/favicon.ico" type="image/x-icon")
        link(rel="stylesheet", href="css/style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet")
        title Bakery - Cool store with pastry art of cakes, we create delicious memories
    body 
        header.container-fluid 
            .bg-header-menu.w-100
                .header-menu
                    .container 
                        .logo 
                            a(href="#") 
                                p.logo Gustoso
                        .burger 
                            span
                        nav.nav.menu 
                            ul
                                li
                                    a(href="#") Welcome
                                li
                                    a(href="#") Menu
                                li
                                    a(href="#") reservations
                                li
                                    a(href="#") News
                                li
                                    a(href="#") Contact
                        .social
                            ul.d-flex.justify-content-center.col-gap-20  
                                li
                                    a(href="#") 
                                        img(src="img/logo - Twitter.svg", alt="logo - Twitter")
                                li
                                    a(href="#") 
                                        img(src="img/logo - Facebook.svg", alt="logo - Facebook")
                                li
                                    a(href="#") 
                                        img(src="img/logo - Instagram.svg", alt="logo - Instagram")
            .header-main-block.text-center
                h1 Pastry with love
                p.header-main-suptitle We’re bringing you fresh ingredients every day in ways you can’t resist.
                a.button(href="#") Our menu
        main 
            .container 
                .first-page-main.d-xxl-flex.justify-content-xxl-center
                    .ArtOfCakes
                        h4
                        p 
                        p 
                        b 
                            b

                    .image-border-TASTES-SO-GOOD
        script(src="js/script.js") 